# Sensitive configuration
config.js

# Dependencies
node_modules/

# Build output
dist/
*.zip

# Environment variables
.env
.env.development
.env.production

# OS files
.DS_Store
Thumbs.db
.vscode
styles.css
package-lock.json
